{% extends 'base.html.twig' %}

{% block title %}Nouvelle annonce{% endblock %}

{% block body %}
    <h1 class="text-center">Créer une nouvelle annonce</h1>

    {{ include('annonces/_form.html.twig') }}

    <a href="{{ path('app_main') }}">Retour à l'accueil</a>
{% endblock %}
